@font-face {
    font-family:"montserrat" ;
    src: url("Montserrat-VariableFont_wght.ttf")
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body { 
    background-color: white;
    font-family: "montserrat";
}
header {
    background-color: white;
    clear: both;
    content:none;
    display: table;
}
.menu{
    width: 900px;
    margin: 0% auto;
}
img {
    width: 120px;
    height: 120px;
    float: left;
    padding: 8px;
}
nav {
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 30px;
    float: left;
    padding: 40px 0 ;
}
nav ul li a {
    text-decoration: none;
    color: #005fa2;
    font-weight: bold;
}